@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.texto h2{
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 16px;
    text-align: center;
    margin-top: 10%;
}
.texto ul{
    list-style: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    line-height: 1.5;
     font-family: "Kanit", sans-serif;
}

@media (max-width: 480px){
    .texto h2{
        font-size: 18px;
        margin-top: 5%;
    }
    .texto ul{
        font-size: 14px;
    }
}
